---
import BackgroundShapes from "../components/BackgroundShapes.astro";
import "../global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Dr. Sita - Sexual Health Consultant, Gynecologist & Wellness Coach in Kerala, India"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Dr. Sita | Sexual Health & Wellness</title>
	</head>
	<body class="bg-base text-text font-inter relative">
		<div class="relative z-10">
			<slot />
		</div>
		<BackgroundShapes />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
